html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary, serif;
  color: $info-black;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

input,
textarea,
button,
select,
a,
li,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
