$primary: #56c4c5;
$secondary: #ff5d50;
$info-black: #221e1f;
$reply-gray: #747474;
$font-primary: "Noto Sans TC";
$font-secondary: "Comfortaa";
$font-third: "Wendy One";
$shadow: 0 2px 10px #00000014;
$brs: 0.75rem;
$max-width: 1156px;
$breakpoint: (
  "lg": 1156px,
  "md": 768px,
  "sm":  576px
);
$direction: (
  "t": top,
  "r": right,
  "b": bottom,
  "l": left
);
